{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "import-helpers",
    "react-hooks",
    "jest",
    "prettier"
  ],
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-new": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/no-dynamic-require": "off",
    "no-param-reassign": "off",
    "no-unused-expressions": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "camelcase": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "react/prop-types": "off",
    "no-loop-func": "off",
    "jsx-a11y/label-has-for": "off",
    "no-case-declarations": "off",
    "import/prefer-default-export": "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_|^next$"
      }
    ],
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlines-between": "always",
        "groups": [
          [
            "/^react/"
          ],
          [
            "builtin",
            "external",
            "internal"
          ],
          "/^@scraper\/shared/",
          "/^@config/",
          "/^@utils/",
          "/^@shared/",
          "/^@/",
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true
        }
      }
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": [
          "PascalCase"
        ],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": [
      "warn",
      {
        "allowArgumentsExplicitlyTypedAsAny": true
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "packageDir": [
          ".",
          "packages/robot/_shared",
          "packages/robot/main",
          "packages/robot/ares"
        ]
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "settings": {
    "import/extensions": [
      ".js",
      ".jsx",
      ".ts",
      ".tsx"
    ],
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {
        "project": "packages/**/tsconfig.json"
      },
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
